@charset "utf-8";
/* Noto Sans Korea */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

/* root */
:root{
  --mainTxtColor:#222;
  --mainColor:#c30606;
  --mainColor2:#907354;
  
}

/* 사이드 fixed 요소 */
/* side-nav */
.side_nav{
  position:fixed;
  top:50%;
  transform:translateY(-50%);
  right:30px;
  z-index:999;
}
.side_nav p{
  width:8px;
  height:8px;
  border-radius:50%;
  margin:30px auto;
  background-color: #BBB9B9;
  cursor:pointer;
  transition: .5s ease-in-out;
}
.side_nav p.active{
  background-color: var(--mainColor);
  position:relative;
}
.side_nav p.active::after{
  content:'';
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  width:18px;
  height:18px;
  border-radius:50%;
  border:1px solid var(--mainColor);
}

/* 왼쪽 사이드 메뉴 */
.l_side{
  position:fixed;
  left:30px;
  bottom:80px;
  z-index:999;
}
.side_heart, .side_chatt{
  width:70px;
  height:70px;
  border-radius:50%;
  background-color: rgba(255,255,255,.6);
  margin: auto;
  box-shadow: 2px 2px 5px rgba(0,0,0,.3);
  cursor:pointer;
}
.side_heart img, .side_chatt img{
  position:relative;
  left:14px;
  top:18px;
  width:45px;
}
.side_chatt{
  margin-top:20px;
}
/* 공통서식 button / shadow */

/* 버튼 effect */
.btn{
  width:150px;
  height:40px;
  border-radius:5px;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.2),
  7px 7px 20px 0px rgba(0,0,0,.1),
  4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
  text-align:center;
  line-height:40px;
  background-color: #fff;
}

.btn-effect{
  background: var(--mainColor);
  background: linear-gradient(0deg, rgba(124,31,31,1) 0%, rgba(177,21,21,1) 50%, rgba(248,12,12,1) 100%);
  line-height: 42px;
  padding: 0;
  border: none;
}
.btn-effect span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.btn-effect:before,
.btn-effect:after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  background: var(--mainColor);
  /* box-shadow:
  -7px -7px 20px 0px rgba(255,255,255,.9),
  -4px -4px 5px 0px rgba(255,255,255,.9),
  7px 7px 20px 0px rgba(0,0,0,.2),
  4px 4px 5px 0px rgba(0,0,0,.3); */
  transition: all 0.3s ease;
}
.btn-effect:before{
  height: 0%;
  width: 2px;
}
.btn-effect:after {
  width: 0%;
  height: 2px;
}
.btn-effect:hover{
  background: transparent;
  color:#fff;
}
.btn-effect:hover:before {
  height: 100%;
}
.btn-effect:hover:after {
  width: 100%;
}
.btn-effect span:before,
.btn-effect span:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background: var(--mainColor);
  /* box-shadow:
  -7px -7px 20px 0px rgba(255,255,255,.9),
  -4px -4px 5px 0px rgba(255,255,255,.9),
  7px 7px 20px 0px rgba(0,0,0,.2),
  4px 4px 5px 0px rgba(0,0,0,.3); */
  transition: all 0.3s ease;
}
.btn-effect span:before {
  width: 2px;
  height: 0%;
}
.btn-effect span:after {
  height: 2px;
  width: 0%;
}
.btn-effect span:hover:before {
  height: 100%;
}
.btn-effect span:hover:after {
  width: 100%;
}
/* 텍스트 그림자 */
.txt_sd{
  text-shadow:2px 3px 3px rgb(0,0,0,.8);
}



/* 기본스타일 (폰트, 색상, 링크) */
body{
  font-family: "Noto Sans KR", arial, sans-serif;
  font-size:16px;
  color:#222;
  font-weight:400;
}

a{
  color:#222;
  text-decoration:none;
}

ul li{
  list-style:none;
}
.color_txt{
  color:var(--mainColor);
  font-size:28px;
  font-weight:900;
}
.none{
  display:none;
}
/* header 서식 */
header{
  width:100%;
  position:fixed;
  top:0; left:0;
  border-bottom:1px solid #ccc;
  background-color: transparent;
  z-index:99;
}
.gnb{
  width:1440px;
  height:90px;
  margin:0 auto;
  display:flex;
  justify-content:space-between;
  align-items:center;
}
/* 로고////////////////////////////// */
.gnb > h1{
  width:20%;
}
.gnb > h1 img{
  width:150px;
}
/* 메뉴목록//////////////////////////// */
.h_nav{
  width:60%;
  z-index:99999;
}
.h_nav > ul{
  display:flex;
  justify-content:center;
}
.h_nav > ul > li{
  padding:0 40px;
  position:relative;
}
.h_nav > ul > li::after{
  content:'';
  position:absolute;
  bottom:-40px;
  left:25%;
  background-color: var(--mainColor);
  width:50%;
  height:4px;
  transform:scaleX(0);
  transition:.5s;
}
.h_nav > ul > li:hover::after{
  transform:scaleX(1);
}
.h_nav > ul > li > a{
  color:#fff;
  font-size:16px;
}
/* 드롭메뉴 */
#header{
  width:100%;
  position:relative;
}
#header::after{
  content:"";
  width:100%;
  height:0;
  background-color:rgb(0,0,0,.6);
  position:absolute;
  left:0;
  top:90px;
  z-index:-1;
  transition: all .3s;
}
#header.on::after{
  height:350px;
}
.submenu{
  position:absolute;
  left:50%;
  transform:translateX(-50%);
  top:50px;
  width:100%;
  text-align:center;
  display:none;
}
.submenu > li > a{
  display:inline-block;
  padding:13px 0;
  width:100%;
  color:#f1f1f1;
  font-size:14px;
}
.submenu > li > a:hover{
  color:#d1d1d1;
}

/* lnb/////////////////////////////////// */
.lnb{
  width:20%;
}
.lnb > ul{
  text-align:right;
}
.lnb > ul > li{
  display:inline-block;
  padding:0 20px;
}
.lnb > ul > li > a img{
  width:24px;
  height:26px;
}



/* footer 서식 */
/* footer 공통 */
.bold{
  font-weight:bold;
  color:#fff;
}
.footer{
  width:100%;
  height:250px;
  background-color: #000;
  position:absolute;
  bottom:0;
  left:0;
}
.f_top{
  height:60px;
  border-bottom:1px solid #fff;
}
.f_top > ul{
  width:1440px;
  margin:0 auto;
  display:flex;
  justify-content:space-around;
  line-height:60px;
}

.f_top > ul > li > a{
  color:#DDDCDC;
  font-size:15px;
}
.f_top > ul > li > a:hover{
  text-decoration:underline;
}

/* 푸터하단 */
.f_bottom{
  width:1440px;
  height:165px;
  margin:0 auto;
  display:flex;
  padding-top:15px;
  position:relative;
  
}
address{
  width:60%;
  color:#DDDCDC;
  font-style:normal;
}
address p{
  line-height:25px;
  font-size:13px;
}
.family{
  width:40%;
  display:flex;
  justify-content:space-between;
}
.family > li{
  display:inline-block;
}
.family > li > a{
  color:#DDDCDC;
  font-size:14px;
}
select{
  padding:4px 8px;
}
.sns{
  width:300px;
  display:flex;
  justify-content:space-around;
  align-items:center;
  position:absolute;
  right:-30px;
  bottom:90px;
}

